html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
} /* for scrolling */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.rgb-slider-box-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.save-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.slider-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  flex: 1;
}

.slider-container {
  display: flex;
  align-items: center;
}

.color-name-label {
  width: 80px;
  margin-right: 10px;
}

.rc-slider {
  margin: 0 20px;
}

.rc-slider-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: -8px !important;
}

.rc-slider-track {
  height: 10px;
}

.saved-colors {
  margin-top: 10px;
  width: 100%;
  max-width: 800px;
}

.saved-color-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0; /* 5px vertical, 0 horizontal */
  border: 1px solid #000;
  border-radius: 5px;
}

.color-rgb-text-style {
  font-family: monospace;
  flex: 1;
}

.color-name-style {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-box-small {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 12px;
  margin-right: 16px;
  border: 1px solid #000;
}

.color-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 20px;
}

/** Hides increment/decrement arrows from the material TextField */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
